NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= # get the public key from clerk authentication
CLERK_SECRET_KEY= # put your secret key from clerk here
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/wallet/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/site
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/site
DB_USERNAME=
DB_PASSWORD=

NEXT_PUBLIC_URL=http://localhost:3000/
NEXT_PUBLIC_DOMAIN=localhost:3000
NEXT_PUBLIC_SCHEME=http://

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL= # put you data base url here in form of <database>://<user>:<password>@<ipAddress>:<port>/<databaseName>
PROD_DATABASE_URL=
LOCAL_DATABASE_URL= # put you data base url here in form of <database>://<user>:<password>@<ipAddress>:<port>/<databaseName>